<h1 class="pt-2">Examples</h1>
<div class="row pt-2">
  <div class="col-md-12">
    <div class="row">   
      <div class="col-md-4">
        <div class="card mt-2">
          <div class="card-header">
            <div class="row d-flex">
              <div class="col-md-6">
                API - RapidApi
              </div>
            </div>
          </div>
          <div class="card-body">
            Search for country information through Api Rapid.
          </div>
          <div class="card-footer">
            <div class="row d-flex">
              <div class="col-md-6">
                <%= link_to search_path, class: 'btn btn-sm btn-info' do %>
                  RapidAPI - Search
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>