<div class="event">
  <div class="content pb-2">
    <div class="summary">
      <span class="badge bg-secondary"><em><%= message.user.username %></em></span> <%= message.body %>
    </div>
  </div>
</div>