<%= turbo_frame_tag "details_tab" do %>
  <div>
    <%= render partial: "shared/tabs" %>
    <div>
      <h3>Credits for <%= bank.name %></h3>
      <ul>
        <% bank_agencies.each do |bank_agency| %>
          <li><%= bank_agency.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>